<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>EleNa Elevation Mapping </title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet'/>
    <link href="{{ url_for('static', filename='styles/elena.css') }}" rel="stylesheet" type="text/css">
    <!--our stylesheet rules-->
<style>


</style>
</head>
<body>
    <h1> Elevate </h1>

    <div class="d-md-flex h-md-100 align-items-center">

        <!-- First Half -->

        <div class="col-md-8 p-0 bg-indigo h-md-100" id="map">
        </div>

        <!-- Second Half -->

        <div class="col-md-4 p-0 bg-white h-md-100 ">
            <div class="row col-md-12" id='row1'>
                <div class="col-md-12" id='control_box'>
                    <div class="input-group col-md-12">
                        <input aria-describedby="button-addon2" aria-label="Where to start?" class="form-control"
                               id='start-address'
                               placeholder="Where to start?" style='width:200px'
                               type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="button-locate"
                                    onclick="getCurrentPosition(showAddress)" type="button">📍
                                <button class="btn btn-outline-secondary" id="button-go"
                                        onclick="geocodingWithMapquest()" type="button">Go!
                                </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row col-md-12" id='row2'>
                <label class="col-md-2 col-form-label" for="distance-input">Distance</label>
                <div class="col-md-8">
                    <input class="form-control" id="distance-input" type="number" value="3">
                </div>
                <label class="col-md-2 col-form-label" for="distance-input">miles</label>
            </div>
        </div>

    </div>


    <div id='text_instruction'>Text instructions like: TURN LEFT, <br> take the second right...</div>

    <!-- <button onclick="showRoute('route2',cur_route,test_grad,semiOpaque)">Show Route</button> -->
    <button class="routeButton" onclick="showServerRoute(50,50,2)">Show Server Route</button>
<!-- Address: <input type="text" id="address_input"> -->
    <!-- <button onclick="geocodingWithMapbox()">Click me to get address Lat/Long</button> -->
    <!-- <button onclick="hover_to_make_opaque(routes)">hover_to_make_opaque</button> -->
    <!-- <button onmouseover="hover_to_make_opaque(routes,opaque)" onmouseout="hover_to_make_opaque(routes, semiOpaque)" >hover_to_make_opaque</button> -->
<p id = "lat_long_here"></p>
<!-- <button onclick="addRouteButton()"> this one </button> -->

<!--    TODO move this script to external file for loading-->
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJ5Y2UtYmciLCJhIjoiY2syamQwc29lMXB6ODNjbjB2Y3ZsdWoxOCJ9.neUa4jI0zKFU8_BvSDt0Aw';
mapquestApiKey = 'ejTqTaBRu1Ok5NGGMwZRpqEpDGJ03eGf';

var semiOpaque = 0.5;
var opaque = 1;

function initMap() {
    let map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet or maybe: 'mapbox://styles/mapbox/light-v9' ?
        center: [-72.526711, 42.391155], // starting position [lng, lat]
        zoom: 14 // starting zoom https://www.latlong.net/place/the-university-of-massachusetts-amherst-ma-usa-24006.html
    });

    map.addControl(noTrackGeolocateController);

    let nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');

    let scale = new mapboxgl.ScaleControl({
        maxWidth: 80,
        unit: 'imperial'
    });
    map.addControl(scale);

    scale.setUnit('metric');

    isMapInit = true;
    return map;
}

var isMapInit = false;
var noTrackGeolocateController = new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: false
});
var map = initMap();

function getRoute() {
    //TODO: pass in data, get route form backend and render it
    $.post({
        url: "get_route",
        data: '',
        contentType: 'application/json',
        success: function (data) {
            // console.log(data);
            // showRoute(data["route1"],test_grad);
        },
    },)
}


var routes;

var test_grad = [
                // 0.0, "yellow",
                0.1, "yellow",
                0.2, "lime",
                0.3, "cyan",
                0.4, "royalblue",
                0.5, "blue",
                0.6, "darkred",
                0.7, "black",
                0.8, "lime",
                0.9, "yellow",
                0.91, "red"];

function getGradientColor(gradient) {
    var grades = [-0.21, -0.14, -0.7,      0,     0.7,   0.14,    0.21];
    var colors = ["blue","red","royalblue","cyan","lime","yellow","black"];
    
    // Binary Search for color threshold
    var min_index = 0;
    var max_index = grades.length - 1;
    var index = 0;

    while (true) {

        index = Math.ceil(((max_index - min_index) / 2) + min_index);

        if (min_index == max_index) {
            return colors[min_index];
        }

        if (gradient >= grades[index]) {
            min_index = index;
        } else {
            max_index = index - 1;
        }
    }
}

function parseRoutes(routesJson) {

    var routes = [];

    for (var r in routesJson) {
        routeData = routesJson[r];
        gradient_list = [];
        gradient_list_colors = [];
        long_lat_list = [];
        gradient_path = [];
        gradient_step_size = 1 / (routeData.length - 2);
        gradient_progress = gradient_step_size;

        for (var i = 2; i < routeData.length; i++) {
            routePoint = routeData[i];
            gradient_list.push(routePoint["gradient"]);
            step_color = getGradientColor(routePoint["gradient"]); 
            gradient_list_colors.push(step_color);
            gradient_path.push(gradient_progress);
            gradient_path.push(step_color);
            gradient_progress += gradient_step_size;
            var long_lat_item = [routePoint["longitude"], routePoint["latitude"]];
            long_lat_list.push(long_lat_item);
        }
        

        var route = {
            "id"                    : r,
            "total_elevation_change": routeData[0]["total_elevation_change"],
            "distance"              : routeData[1]["distance"],
            "gradient_list"         : gradient_list,
            "gradient_path"         : gradient_path,
            "long_lat_list"         : long_lat_list
        };

        routes.push(route);
    } 

    return (routes);
}

// TODO remove buttons as well
function removeOtherRoutes(num) {
    console.log("removing all others");
    for (r in routes) {
        if (r != num) {
            id = routes[r]["id"];
            // console.log(id);
            var source_id = id + "_source";
            // console.log(source_id);
            map.removeLayer(id);
            map.removeSource(source_id);
        }
    }
    // Remove dynamic buttons
    $(".routeButton").remove();
}

// function addRouteButton(id) {
function addRouteButton(num) {
    var r= $('<input type="button" class="routeButton" onmouseover="hiliteOnHover(\''+num+'\',opaque)" onmouseout="hiliteOnHover(\''+num+'\', semiOpaque)" onclick="removeOtherRoutes('+num+')" value="'+routes[num]['id']+'"/>');
    $("body").append(r);
}

function showServerRoute(lat,lng,dist) {
    $.post({
        url: "get_route",
        data: JSON.stringify({"start_address": {"latitude": lat, "longitude": lng}, "length": dist}),
        contentType: 'application/json',
        success: function (routesData) {
            routes = parseRoutes(routesData);
            for (r in routes) {
                showRoute(routes[r]["id"], routes[r]["long_lat_list"], routes[r]["gradient_path"], semiOpaque);
                addRouteButton(r);
            };
        },
    },)
}

function getCurrentPosition(callback) {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(callback);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    let lat = position.coords.latitude;
    let lng = position.coords.longitude;
    map.flyTo({
        center: [lng, lat],
        zoom: 14,
    })
}

var lgrc_marston_route = [ 
              [-72.5267224, 42.3942209],
              [-72.5266523, 42.3942427],
              [-72.5265448, 42.3942762],
              [-72.5263269, 42.3939052],
              [-72.5269955, 42.3936949],
              [-72.5273381, 42.3939466],
              [-72.5277246, 42.3946398],
              [-72.5281995, 42.3946879],
              [-72.528568, 42.3945891],
              [-72.5286749, 42.3945466],
              [-72.5290824, 42.394426],
              [-72.5288819, 42.3939421],
              [-72.5292508, 42.3938264],
              [-72.5293035, 42.3939254], 
              ];

var campus_loop_route = [
              <!-- [-72.5267224, 42.3942209], -->
              <!-- [-72.5266523, 42.3942427], -->
              <!-- [-72.5265448, 42.3942762], -->
              <!-- [-72.5263269, 42.3939052], -->
              <!-- [-72.5269955, 42.3936949], -->
              [-72.5271314, 42.3936519],
              [-72.5279197, 42.3934026],
              [-72.5280705, 42.3936787],
              [-72.528568, 42.3945891],
              [-72.5286749, 42.3945466],
              [-72.5290824, 42.394426],
              [-72.5288819, 42.3939421],
              [-72.5292508, 42.3938264],
              [-72.5293035, 42.3939254],
              [-72.5293035, 42.3939254],
              [-72.5292508, 42.3938264],
              [-72.5288408, 42.3937322],
              [-72.5286577, 42.3935782],
              [-72.5285486, 42.3934142],
              [-72.5286778, 42.3931534],
              [-72.5283612, 42.3932528],
              [-72.5282097, 42.3929871],
              <!-- [-72.5279098, 42.3924841], -->
              <!-- [-72.5281986, 42.3921527], -->
              <!-- [-72.5281986, 42.3921527], -->
              [-72.5279098, 42.3924841],
              [-72.527864, 42.3924199],
              [-72.5275371, 42.3926385],
              [-72.5271412, 42.3927435],
              <!-- [-72.5267823, 42.3929566], -->
              <!-- [-72.527568, 42.3931221], -->
              <!-- [-72.527568, 42.3931221], -->
              [-72.5267823, 42.3929566],
              [-72.5266706, 42.3930229],
              [-72.5271314, 42.3936519],
              <!-- [-72.5269955, 42.3936949], -->
              <!-- [-72.5263269, 42.3939052], -->
              <!-- [-72.5265448, 42.3942762], -->
              <!-- [-72.5266523, 42.3942427], -->
              <!-- [-72.5267224, 42.3942209], -->
              ];

var cur_route = campus_loop_route;

function setRouteZoom(route) {
    var bounds = route.reduce(function (bounds, coord) {
            return bounds.extend(coord);
    }, new mapboxgl.LngLatBounds(route[0], route[0]));

    map.fitBounds(bounds, {padding: 40});
}


function showRoute(id, latLong, grad, opacity) {
    var source_id = id + "_source";
    // TODO: set this to the extremes of all routes instead of just one
    setRouteZoom(latLong);
    var geojson = {
        "type": "FeatureCollection",
        "features": [{
            "type": "Feature",
            "properties": {},
            "geometry": {
                "coordinates": latLong,
                "type": "LineString"
            }
        }]
    };

    // 'line-gradient' can only be used with GeoJSON sources
    // and the source must have the 'lineMetrics' option set to true
    map.addSource(source_id, {
            type: 'geojson',
            lineMetrics: true,
            data: geojson
        });
    
    // the layer must be of type 'line'
    var line_gradient_contents = [
                'interpolate',
                ['linear'],
                ['line-progress']].concat(grad);
                
    map.addLayer({
        type: 'line',
        source: source_id,
        id: id,
        paint: {
            'line-color': 'red',
            'line-width': 14,
            // 'line-gradient' must be specified using an expression
            // with the special 'line-progress' property
            'line-gradient': line_gradient_contents,
            'line-opacity': opacity,
        },
        layout: {
            'line-cap': 'round',
            'line-join': 'round',
        }
    });
}

function geocodingWithMapquest() {
    const target = "https://www.mapquestapi.com/geocoding/v1/address?key=" + mapquestApiKey
        + "&inFormat=kvp&outFormat=json&location=" + $('#start-address').val().split(" ").join("+") + "&thumbMaps=false";
    // console.log(target);
    var dist = document.getElementById("distance-input").value;
    $.get({
        url: target,
        success: function (data) {
            // console.log(data);
            var lat = data.results[0].locations[0].latLng.lat;
            var lng = data.results[0].locations[0].latLng.lng;
            console.log(lat, lng);
            map.flyTo({
                center: [lng, lat],
                zoom: 14,
            });
            showServerRoute(lat,lng,dist);
            // getRoute();
        }
    })
}

function geocodingWithMapbox() {
    var input = document.getElementById("address_input").value;
    var address = input.split(" ").join("%20");
    $.get("https://api.mapbox.com/geocoding/v5/mapbox.places/" +
          address +
          ".json?access_token=" +
          mapboxgl.accessToken,
          function(data, status){
              var latlong = JSON.stringify(data.features[0].center);
            document.getElementById("lat_long_here").innerHTML = latlong
    },'json');
}

function showAddress(position) {
    let lat = position.coords.latitude;
    let lng = position.coords.longitude;
    let apiAddress = "https://api.mapbox.com/geocoding/v5/mapbox.places/" +
        lng + "%2C" + lat +
        ".json?access_token=" +
        mapboxgl.accessToken;
    $.get( apiAddress,
        function (data, status) {
            var address = data.features[0].place_name;
            console.log(address);
            $('#start-address').val(address);
        }, 'json');
    //TODO:trigger geolocate controller to show a blue dot on the map, but will ask for permission twice,
    // might want to use Marker controller instead?
    noTrackGeolocateController.trigger();
    // map.flyTo({
    //     center: [lng, lat],
    //     zoom: 14,
    // })
}

// Rerenders the route at the specified opacity.
function hiliteOnHover(num, opacity) {
    id = routes[num]["id"];
    var source_id = id + "_source";
    map.removeLayer(id);
    map.removeSource(source_id);
    showRoute(id, routes[num]["long_lat_list"], routes[num]["gradient_path"], opacity);
}

</script>


</body>
</html>