<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>EleNa Elevation Mapping </title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet'/>
    <link href="{{ url_for('static', filename='styles/elena.css') }}" rel="stylesheet" type="text/css">
    <!--our stylesheet rules-->
<style>


</style>
</head>
<body>
    <h1> Elena Fitness App</h1>
    <div class="row col-12" id='row1'>
        <div class="col-8" id='map'></div>
        <div class="col-4" id='control_box'>
            <div class="input-group col-3">
                <input aria-describedby="button-addon2" aria-label="Where to start?" class="form-control"
                       placeholder="Where to start?" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="button-go" type="button" onclick="">Go!</button>
                </div>
            </div>
        </div>

    </div>

    <div id='text_instruction'>Text instructions like: TURN LEFT, <br> take the second right...</div>


<!--    TODO move this script to external file for loading-->
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYnJ5Y2UtYmciLCJhIjoiY2syamQwc29lMXB6ODNjbjB2Y3ZsdWoxOCJ9.neUa4jI0zKFU8_BvSDt0Aw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet or maybe: 'mapbox://styles/mapbox/light-v9' ?
center: [-72.526711, 42.391155], // starting position [lng, lat]
zoom: 14 // starting zoom https://www.latlong.net/place/the-university-of-massachusetts-amherst-ma-usa-24006.html
});

$('#button-go').on('click', function(event) {
    m
});

</script>



</body>
</html>